/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 5, 2018, 4:53:08 PM
    Author     : dmtuan
*/

#wpwrap {
      background: #f1f1f1;
}

.btn-mypos {
    display: block;
    margin-top: 5px;
}

.btn-mypos-width {
    width: 80%;
    margin-top: 10px;
}

